<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "common :: head">
</head>
<body>
    <div class="container body">
        <div style="font-size: 40px; margin-bottom: 20px;">Quản lý hệ thống</div>
        <div class="row">
	        <header th:replace="common :: header"></header>
	        <div class="col-lg-10">
	        	<h3 style="margin-top: -3px; text-align: center;">DANH SÁCH THU BÀI</h3>
	        	<div th:if="${resultlist==null or resultlist.empty}" class="notification bg-warning">
				   <h1>Danh sách trống</h1>
				</div>
				<div th:if="${resultlist!=null and !resultlist.empty}">
					<div style="text-align: -webkit-center;">
	        			<div th:if="${resultlist.get(0).getExamination().getContent() == 'CoBan'}">
	        				<label class="control-label">Nội dung:</label>
	        				<span>Thi cấp chứng chỉ ứng dụng CNTT cơ bản</span>
	        			</div>
	        			<div th:if="${resultlist.get(0).getExamination().getContent() == 'NangCao'}">
	        				<label class="control-label">Nội dung:</label>
	        				<span>Thi cấp chứng chỉ ứng dụng CNTT nâng cao</span>
	        			</div>
	        			<label class="control-label">Mã đợt thi:</label>
	        			<span th:text="${resultlist.get(0).getExamination().getCode()}"></span>    
	        			<label class="control-label"> - Ngày thi dự kiến:</label>   
	        			<span th:text="${resultlist.get(0).getExamination().getDateExam()}"></span>                                  
					</div>
					<div style="float:right; margin-bottom: 10px;">
						<a th:href="@{'/createExcel-collectTest'}"><img th:src="@{/image/excel-icon.png}" style="width: 40px;"></a>
		            </div>
	                <table class="table table-bordered">
	                    <thead>
	                      <tr>
	                        <th class="text-center" style="padding-bottom: 27px;" rowspan="2">STT</th>
	                        <th class="text-center" style="padding-bottom: 27px;" rowspan="2">SBD</th>
	                        <th class="text-center" style="padding-bottom: 27px;" rowspan="2">Họ tên</th>
	                        <th class="text-center" style="padding-bottom: 27px;" rowspan="2">Ngày sinh</th>
	                        <th class="text-center" style="padding-bottom: 27px;" rowspan="2">CMT</th>
	                        <th class="text-center" colspan="2">Trắc nghiệm</th>
	                        <th class="text-center" colspan="4">Thực hành</th>
	                      </tr>
	                      <tr>
	                        <th class="text-center" >Điểm</th>
	                        <th class="text-center" >Ký</th>
	                        <th class="text-center" >Word</th>
	                        <th class="text-center" >Excel</th>
	                        <th class="text-center" >PPT</th>
	                        <th class="text-center" >Ký</th>
	                      </tr>
	                    </thead>
	                    <tbody>
			              	<th:block th:each="result : ${resultlist}">
				                 <tr>
				                   <td th:text="${resultStat.index + 1}"></td>
				                   <td th:text="${result.getCandidate().getRegistrationNumber()}"></td>
				                   <td th:text="${result.getCandidate().getNameCandidate()}"></td>
				                   <td th:text="${result.getCandidate().getDateOfBirth()}"></td>
				                   <td th:text="${result.getCandidate().getCode()}"></td>
					               <td></td>
					               <td></td>
					               <td></td>
					               <td></td>
					               <td></td>
					               <td></td>
				                </tr>
			               </th:block>
			            </tbody>
	              </table>
               </div>
            </div>
        </div>            
    </div>
    <footer th:replace="common :: footer"></footer>
</body>
</html>