<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "common :: head">
</head>
<body>
    <div class="container body">
        <div style="font-size: 40px; margin-bottom: 20px;">Quản lý hệ thống</div>
        <div class="row">
	        <header th:replace="common :: header"></header>
	        <div class="col-lg-10">
	        	<h3 style="margin-top: -3px; text-align: center;">DANH SÁCH CẤP CHỨNG CHỈ</h3>
	        	<div th:if="${certificateList==null or certificateList.empty}" class="notification bg-warning">
				   <h1>Danh sách trống</h1>
				</div>
				<div th:if="${certificateList!=null and !certificateList.empty}">
					<div style="text-align: -webkit-center;">
	        			<div th:if="${certificateList.get(0).getExamination().getContent() == 'CoBan'}">
	        				<label class="control-label">Nội dung:</label>
	        				<span>Thi cấp chứng chỉ ứng dụng CNTT cơ bản</span>
	        			</div>
	        			<div th:if="${certificateList.get(0).getExamination().getContent() == 'NangCao'}">
	        				<label class="control-label">Nội dung:</label>
	        				<span>Thi cấp chứng chỉ ứng dụng CNTT nâng cao</span>
	        			</div>
	        			<label class="control-label">Mã đợt thi:</label>
	        			<span th:text="${certificateList.get(0).getExamination().getCode()}"></span>    
	        			<label class="control-label"> - Ngày thi dự kiến:</label>   
	        			<span th:text="${certificateList.get(0).getExamination().getDateExam()}"></span>                                  
					</div>
		            <div style="float:right; margin-bottom: 10px;">
						<a th:href="@{'/createExcel-certificate'}" style="padding-right: 5px;"><img th:src="@{/image/excel-icon.png}" style="width: 40px;"></a>
						<button type="button" class="btn btn-success btn-update-certificate" style="float:right; padding-bottom: 11px;">Cập nhật số</button>
		            </div>
	                <table class="table table-bordered table-certificate">
	                    <thead>
	                      <tr>
	                        <th class="text-center" style="width: 3%">STT</th>
	                        <th class="text-center" style="width: 20%">Họ tên</th>
	                        <th class="text-center" style="width: 12%">Ngày sinh</th>
	                        <th class="text-center" style="width: 12%">CMT</th>
	                        <th class="text-center" style="width: 12%">Thuộc HV</th>
	                        <th class="text-center" style="width: 10%">Số văn bằng</th>
	                        <th class="text-center" style="width: 10%">Số vào sổ</th>
	                        <th class="text-center" style="width: 10%">Ký nhận</th>
	                        <th class="text-center" style="width: 11%">Ghi chú</th>
	                      </tr>
	                    </thead>
	                    <tbody>
	                      <th:block th:each="certificate : ${certificateList}">
			                  <tr>
			                    <td th:text="${certificateStat.index + 1}"></td>
			                    <td th:text="${certificate.getCandidate().getNameCandidate()}"></td>
			                    <td th:text="${certificate.getCandidate().getDateOfBirth()}"></td>
			                    <td th:text="${certificate.getCandidate().getCode()}"></td>
			                    <td th:text="${certificate.getCandidate().getDemand().getObject()}"></td>
				                <td class="text-center">
				                	<input type="text" th:value="${certificate.getDiplomaNumber()}" class="form-control diplomaNumber" placeholder="Your answer" name="diplomaNumber">
				                </td>
				                <td class="text-center">
				                	<input type="text" th:value="${certificate.getNotebookNumber()}" class="form-control notebookNumber" placeholder="Your answer" name="notebookNumber">
				                </td>
				                <td class="id" th:text="${certificate.getIdCertificate()}" style="display: none"></td>
				                <td></td>
				                <td></td>
			                  </tr>
			                </th:block>
	                    </tbody>
	              </table>
				</div>	        	
           </div>
        </div>            
    </div>
    <footer th:replace="common :: footer"></footer>
</body>
</html>