<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "common :: head">
</head>
<body>
    <div class="container body">
        <div style="font-size: 40px; margin-bottom: 20px;">Quản lý hệ thống</div>
        <div class="row">
	        <header th:replace="common :: header"></header>
	        <div class="col-lg-10">
	        	<h3 style="margin-top: -3px; text-align: center;">Dữ liệu hệ thống nhu cầu</h3>
				<div class="form-group" style="padding-bottom: 35px;">  
        			<button id="test" type="button" class="btn btn-info" data-toggle="modal" data-target="#demandModal" style="float:right;">Thêm nhu cầu</button>
				</div>
				<div class="modal fade" id="demandModal" role="dialog" data-keyboard="false" data-backdrop="static">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h3>Thông tin nhu cầu</h3>
				      </div>
				      <div class="modal-body"> 
				        <form id="form-demand">	
				        	<div class="row">
								<div class="col-lg-4">
									<label class="control-label" for="object">Đối tượng:</label>
				                    <input id="modal-object" type="text" class="form-control" placeholder="Your answer" name="object" 
				                    autocomplete="off" required oninvalid="this.setCustomValidity('Đối tượng không được để trống')" oninput="this.setCustomValidity('')">
								</div>
								<div class="col-lg-4">
									<label class="control-label" for="level">Trình độ:</label>
				                    <input id="modal-level" type="text" class="form-control" placeholder="Your answer" name="level" 
				                    autocomplete="off" required oninvalid="this.setCustomValidity('Trình độ không được để trống')" oninput="this.setCustomValidity('')">
								</div>
								<div class="col-lg-4">
									<label class="control-label" for="formal">Hình thức:</label>
				                	<input id="modal-formal" type="text" class="form-control" placeholder="Your answer" name="formal" 
				                    autocomplete="off" required oninvalid="this.setCustomValidity('Hình thức không được để trống')" oninput="this.setCustomValidity('')">
								</div>
								<div class="col-lg-4">
									<label class="control-label" for="reviewCost">Phí ôn thi:</label>
				                	<input id="modal-reviewCost" type="number" class="form-control" placeholder="Your answer" name="reviewCost"
                    				autocomplete="off" required oninvalid="this.setCustomValidity('Phí ôn thi không được để trống')" oninput="this.setCustomValidity('')">
								</div>
								<div class="col-lg-4">
									<label class="control-label" for="examCost">Phí thi:</label>
				                	<input id="modal-examCost" type="number" class="form-control" placeholder="Your answer" name="examCost" 
				                    autocomplete="off" required oninvalid="this.setCustomValidity('Phí thi không được để trống')" oninput="this.setCustomValidity('')">
								</div>
								<input id="modal-id-demand" type="text" name="idDemand" style="display: none"/>
							</div>
							<div class="modal-footer">
					            <button type="button" class="btn btn-success btn-save-demand">Lưu</button>
						        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						    </div>
				        </form>  
				      </div>
				    </div>   
				  </div>
				</div>
				<div class="notification bg-warning" th:if="${demandList == null}">
				   <h1>Danh sách trống</h1>
				</div>
				<div th:if="${demandList != null}">
		            <table class="table table-bordered" id="table-member">
		                <thead>
		                  <tr>
		                    <th class="text-center" style="width: 3%">STT</th>
		                    <th class="text-center" style="width: 18%">Đối tượng</th>
		                    <th class="text-center" style="width: 18%">Trình độ</th>
		                    <th class="text-center" style="width: 18%">Hình thức</th>
		                    <th class="text-center" style="width: 17%">Phí ôn thi</th>
		                    <th class="text-center" style="width: 16%">Phí thi</th>
		                    <th class="text-center" style="width: 10%">Thao tác</th>
		                  </tr>
		                </thead>
		                <tbody>
		                	<th:block th:each="demand : ${demandList}">
			                  <tr>
			                    <td th:text="${demandStat.index + 1}"></td>
			                    <td class="object" th:text="${demand.getObject()}"></td>
			                    <td class="level" th:text="${demand.getLevel()}"></td>
			                    <td class="formal" th:text="${demand.getFormal()}"></td>
			                    <td class="reviewCost" th:text="${demand.getReviewCost()}"></td>
			                    <td class="examCost" th:text="${demand.getExamCost()}"></td>
			                    <td class="id-demand" th:text="${demand.getIdDemand()}" style="display: none"></td>
			                    <td>
			                    	<button type="button" class="btn-success btn-update-demand" data-toggle="modal" data-target="#demandModal">Sửa</button>
						        	<button type="button" class="btn-danger btn-delete-demand">Xóa</button>
						        </td>
			                  </tr>
			                 </th:block>
		                </tbody>
		             </table>
		          </div>
		     </div>  
	     </div>          
    </div>
    <footer th:replace="common :: footer"></footer>
</body>
</html>